button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  background-color: var(--color-primary);
  color: var(--color-text);

  cursor: pointer;

  border: none;
  border-radius: 4px;

  padding: 6px;
  text-align: center;
  text-decoration: none;
}

.primary {
  background-color: var(--color-primary);
}

.primary:hover {
  background-color: var(--color-secondary);
}

.secondary {
  background-color: transparent;

  border: 1px solid var(--color-secondary);
}

.secondary:hover {
  background-color: var(--color-secondary);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}