@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
:root {
  --color-text: #DBD8E3;
  --color-background: #2A2438;
  --color-primary: #5C5470;
  --color-secondary: #352F44;
  --color-accent: #DBD8E3;

  --border: rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";

  transition: all 0.2s ease-in-out;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}